html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
}

#app{
  width: 100%;
  height: 100%;
}

.stage{
  position: relative;
  width:100%;
  height:680px;
}

.imgSec{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ddd;
  
  @at-root{
    .img-figure{
      position: absolute;
      width: 180px;
      height: 240px;
      margin: 0;
      padding: 40px;
      background-color: #fff;
      box-sizing: border-box; 
    }
    figcaption{
      text-align: center;

      .img-title{
        margin-top: 20px;
        color: #a7a0a2;
        font-size: 16px;
      }
    }
  }
}

.controller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
}

