html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #222;
}

#app{
  width: 100%;
  height: 100%;
}

.stage{
  position: relative;
  width:100%;
  height:680px;
}

.imgSec{
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ddd;
}

.controller-nav{
  position: absolute;
  left: 0;
  bottom: 30px;
  z-index: 101;
  width: 100%;
  text-align: center;
}

